:root {
  --bkspsz: 50px;
  --calcsz: 50px;
  --borderrd: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #6b7abb;
  color: white;
  overflow: hidden;
}

#page-head {
  text-align: center;
  margin-bottom: 10px;
}
.calc-cont {
  border: 1px black solid;
  border-radius: var(--borderrd);
  width: 400px;
  height: 580px;
  margin: 0 auto;
  background: rgb(35, 103, 255);
  background: linear-gradient(358deg, #2367ff, #cd1aff);
  background-size: 100% 200%;
  animation: bk-calc 10s ease infinite;
  /*gridding*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@keyframes bk-calc {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#output {
  grid-area: 1/1 / span 1 / span 4;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: white;
  background: #505050;
  color: white;
  padding-top: 10px;
  padding-right: 5px;
  animation: bk-calc 10s ease infinite;
  border-radius: var(--borderrd) var(--borderrd) 0 0;
}

#history,
#number-space {
  text-align: right;
  font-size: 1rem;
}
#number-space {
  font-size: 3rem;
  height: 100%;
}

.disabled {
  background-color: black;
  opacity: 0.5;
}
.bkspc {
  width: var(--bkspsz);
  height: var(--bkspsz);
  position: absolute;
  bottom: -5px;
  left: 5px;
  z-index: 1;
  transform: scaleX(-1);
}
.ns-cont {
  height: 100%;
  position: relative;
}
.operator {
}
.calc-sym {
  width: var(--calcsz);
  height: var(--calcsz);

  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  animation-name: btn-hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes btn-hover {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.45);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.number {
}
#clear {
  font-weight: bold;
  font-size: 30px;
}
#decimal {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.msg {
  margin-top: 10px;
  font-weight: bolder;
  font-style: italic;
}
.func > span {
  font-weight: bold;
  font-size: 30px;
}
.tooltip {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 105%;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*from w3schools*/
.tt-cont{
  text-align: center;
}